In [1]:
import pandas as pd


landmark = pd.DataFrame({
    'name': ['광화문', '호미곶', '첨성대'],
    'loc': ['서울 종로구 사직로 161', 
            '경북 포항시 남구 호미곶면 대보리 150',
            '경북 경주시 인왕동 839-1']
})

landmark['loc'].str

In [2]:
landmark['loc'].str[3:6]

0    종로구
1    포항시
2    경주시
Name: loc, dtype: object

In [8]:
#landmark['loc'].str.split(" ", expand=True)
landmark['loc'].str.split(expand=True)

    0    1    2      3     4     5
0  서울  종로구  사직로    161  None  None
1  경북  포항시   남구   호미곶면   대보리   150
2  경북  경주시  인왕동  839-1  None  None

In [9]:
landmark['loc_1'] = landmark['loc'].str.split().str[0]

In [13]:
print(type(landmark['loc'].str.split()))
print(type(landmark['loc'].str.split(expand=True)))
print(landmark['loc'].str.split())

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
0              [서울, 종로구, 사직로, 161]
1    [경북, 포항시, 남구, 호미곶면, 대보리, 150]
2            [경북, 경주시, 인왕동, 839-1]
Name: loc, dtype: object

In [14]:
landmark['loc'].str.startswith('서울')

0     True
1    False
2    False
Name: loc, dtype: bool

In [16]:
landmark['loc'].str.endswith('1')

0     True
1    False
2     True
Name: loc, dtype: bool

In [17]:
landmark['loc'].str.contains('1')

0    True
1    True
2    True
Name: loc, dtype: bool