In [1]:
# 데이터 분할
# 분석 데이터를 학습용 데이터와, 테스트 데이터로 나누기 위함
# scikit learn의 tran_test_split 함수 사용
import pandas as pd
from sklearn.datasets import load_iris

IRIS = load_iris()
iris = pd.DataFrame(IRIS.data, columns=IRIS.feature_names)
iris["class"] = IRIS.target
iris["class"] = iris["class"].map({0:'Setosa', 1:'Versicolor', 2:'Virginica'})
iris.columns = ['sep_len', 'sep_wid', 'pet_len', 'pet_wid', 'class']
del IRIS
iris

     sep_len  sep_wid  pet_len  pet_wid      class
0        5.1      3.5      1.4      0.2     Setosa
1        4.9      3.0      1.4      0.2     Setosa
2        4.7      3.2      1.3      0.2     Setosa
3        4.6      3.1      1.5      0.2     Setosa
4        5.0      3.6      1.4      0.2     Setosa
..       ...      ...      ...      ...        ...
145      6.7      3.0      5.2      2.3  Virginica
146      6.3      2.5      5.0      1.9  Virginica
147      6.5      3.0      5.2      2.0  Virginica
148      6.2      3.4      5.4      2.3  Virginica
149      5.9      3.0      5.1      1.8  Virginica

[150 rows x 5 columns]

In [2]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(iris.drop(columns='class'), iris['class'], test_size=0.2, random_state=1004)
print("X 학습: ", X_train.shape, "X test: ", X_test.shape)
print("y 학습: ", y_train.shape, "y test: ", y_test.shape)

X 학습:  (120, 4) X test:  (30, 4)
y 학습:  (120,) y test:  (30,)

In [3]:
X_train.head(3)

     sep_len  sep_wid  pet_len  pet_wid
87       6.3      2.3      4.4      1.3
67       5.8      2.7      4.1      1.0
131      7.9      3.8      6.4      2.0

In [4]:
y_train.head(3)

87     Versicolor
67     Versicolor
131     Virginica
Name: class, dtype: object

In [5]:
# 랜덤 추출에서 각 계층별 추출량이 다를 수 있음을 확인
iris['class'].value_counts()

class
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [6]:
y_train.value_counts()

class
Versicolor    41
Setosa        40
Virginica     39
Name: count, dtype: int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(iris.drop(columns='class'), iris['class'], test_size=0.2, random_state=1004, stratify=iris['class'])
print("X 학습: ", X_train.shape, "X test: ", X_test.shape)
print("y 학습: ", y_train.shape, "y test: ", y_test.shape)

X 학습:  (120, 4) X test:  (30, 4)
y 학습:  (120,) y test:  (30,)

In [8]:
y_train.value_counts()

class
Versicolor    40
Virginica     40
Setosa        40
Name: count, dtype: int64