In [1]:
import pandas as pd
from sklearn.datasets import load_iris

IRIS = load_iris()
iris = pd.DataFrame(IRIS.data, columns=IRIS.feature_names)
iris["class"] = IRIS.target
iris["class"] = iris["class"].map({0:'Setosa', 1:'Versicolor', 2:'Virginica'})
iris.columns = ['sep_len', 'sep_wid', 'pet_len', 'pet_wid', 'class']
del IRIS

In [2]:
#dummy 컬럼이란 범주형 자료형에서 각 범주를 bool 타입의 한 열로 분리시키는 것이다.

iris_dummy = pd.get_dummies(iris, columns=['class'])
iris_dummy

,sep_len,sep_wid,pet_len,pet_wid,class_Setosa,class_Versicolor,class_Virginica
0,5.1,3.5,1.4,0.2,True,False,False
1,4.9,3.0,1.4,0.2,True,False,False
2,4.7,3.2,1.3,0.2,True,False,False
3,4.6,3.1,1.5,0.2,True,False,False
4,5.0,3.6,1.4,0.2,True,False,False
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,False,False,True
146,6.3,2.5,5.0,1.9,False,False,True
147,6.5,3.0,5.2,2.0,False,False,True
148,6.2,3.4,5.4,2.3,False,False,True
149,5.9,3.0,5.1,1.8,False,False,True